@import url(./menu.css);
@import url(./menu/menu-header.css);
@import url(./menu/menu-lista.css);
@import url(./menu/menu-titulo.css);
@import url(./menu/menu-lista-item.css);
@import url(./titulo.css);
@import url(./titulo/titulo-perfil.css);
@import url(./titulo/titulo-div.css);
@import url(./titulo/titulo-contenedor.css);
@import url(./titulo/titulo-bio.css);
@import url(./titulo/titulo-subsection.css);
@import url(./titulo/titulo-redes.css);
@import url(./titulo/titulo-redes-item.css);
@import url(./about.css);
@import url(./about/about-titulo.css);
@import url(./skills.css);
@import url(./skill/skills-titulo.css);
@import url(./skill/skills-line.css);
@import url(./skill/skills-box.css);
@import url(./skill/skills-name.css);
@import url(./hobbies.css);
@import url(./hobbies/hobbies-titulo.css);
@import url(./hobbies/hobbies-line.css);
@import url(./hobbies/hobbies-box.css);
@import url(./academia.css);
@import url(./academia/academia-titulo.css);
@import url(./academia/academia-cursos.css);
@import url(./academia/academia-cursos-box.css);
@import url(./academia/academia-cursos-lista.css);
@import url(./academia/academia-cursos-item-img.css);
@import url(./academia/academia-cursos-item-titulo.css);
@import url(./academia/academia-cursos-item-subtitulo.css);
@import url(./expe.css);
@import url(./experiencia/expe-seccion-titulo.css);
@import url(./experiencia/expe-box.css);
@import url(./experiencia/expe-info.css);
@import url(./experiencia/expe-ver--demo.css);
@import url(./experiencia/expe-ver--repo.css);
@import url(./formcontacto.css);
@import url(./contacto/formcontacto-contacto.css);
@import url(./contacto/formcontacto-text.css);
@import url(./contacto/formcontacto-titulo.css);
@import url(./contacto/formcontacto-input.css);
@import url(./contacto/formcontacto-textarea.css);
@import url(./contacto/formcontacto-boton.css);
@import url(./contacto/formcontacto-form.css);
@import url(./contacto/formcontacto-subtitulo.css);
@import url(./footer/footer.css);
@import url(./footer/footer-rodape.css);


/*Reseteamos el ccs de la web*/
:root {
    --col-de-fondo: #F5F5F5;
    --col-de-link: #000;
    --col-base-box: #F9F9F9;
    --col-section-fondo: #EAF2FD;
    --col-de-texto: #464646;
    --col-de-boton: #2A7AE4;
    --col-de-linkHover: rgb(0, 179, 179);
}

body {
    box-sizing: border-box;
    background-color: var(--col-de-fondo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    color: var(--col-de-texto);
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--col-de-link);
}

.contenedorPrincipal {
    margin: 0 10rem 0 10rem;
}