.academia__cursos__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;
    height: 300px;
}

@media (max-width: 768px) {
    .academia__cursos__box {
        height: 250px;
    }
}

@media (max-width: 425px) {
    .academia__cursos__box {
        width: 100%;
    }
}