.academia__cursos__item__img {
    padding: 35px;
    background-color: var(--col-base-box);
}

@media (max-width: 768px) {
    .academia__cursos__item__img img{
        max-width: 115px;
        max-height: 115px;
    }
}
