.titulo__div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 10rem 6rem 10rem;
}

@media (max-width: 768px) {
    .titulo__div {
        padding: 1.5rem 2rem 3rem 2rem;
    }
}

@media (max-width: 425px) {
    .titulo__div {
        flex-flow: wrap-reverse;
        padding: 0rem 1rem 1.5rem 1rem;
    }
}