.skills__box {
    width: 15%;
    background-color: var(--col-base-box);
    padding: 7rem 0 0rem 1rem;
}

.skills__box ul {
    margin: 0px;
    padding: 0px;
}

@media (max-width: 768px) {
    .skills__box {
        width: 190px;
        margin-top: 1rem;
        padding: 3rem 0rem 0rem 1rem;
    }
}

@media (max-width: 425px) {
    .skills__box {
        width: 140px;
    }
}